In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import dash
from dash import dcc, html, Input, Output
import plotly.express as px

In [8]:
# Load the first CSV file
df1 = pd.read_csv('../project_dataset/extract - fees - data analyst.csv')

# Load the second CSV file
df2 = pd.read_csv('../project_dataset/extract - cash request - data analyst.csv')

In [ ]:
# Getting the number of rows and columns
print("DataFrame 1 Shape:", df1.shape)

# Displaying the first few rows
print("\nDataFrame 1 Head:")
print(df1.head())

# Displaying data types of each column
print("\nDataFrame 1 Data Types:")
print(df1.dtypes)

DataFrame 1 Shape: (21061, 13)

DataFrame 1 Head:
      id  cash_request_id             type    status               category  \
0   6537          14941.0  instant_payment  rejected                    NaN
1   6961          11714.0         incident  accepted  rejected_direct_debit
2  16296          23371.0  instant_payment  accepted                    NaN
3  20775          26772.0  instant_payment  accepted                    NaN
4  11242          19350.0  instant_payment  accepted                    NaN

   total_amount                              reason  \
0           5.0  Instant Payment Cash Request 14941
1           5.0               rejected direct debit
2           5.0  Instant Payment Cash Request 23371
3           5.0  Instant Payment Cash Request 26772
4           5.0  Instant Payment Cash Request 19350

                      created_at                     updated_at  \
0   2020-09-07 10:47:27.42315+00  2020-10-13 14:25:09.396112+00
1  2020-09-09 20:51:17.998653+00  2020-10-13 14:25:15.537063+00
2  2020-10-23 10:10:58.352972+00  2020-10-23 10:10:58.352994+00
3  2020-10-31 15:46:53.643958+00  2020-10-31 15:46:53.643982+00
4  2020-10-06 08:20:17.170432+00  2020-10-13 14:25:03.267983+00

                         paid_at from_date to_date charge_moment
0   2020-12-17 14:50:07.47011+00       NaN     NaN         after
1   2020-12-08 17:13:10.45908+00       NaN     NaN         after
2   2020-11-04 19:34:37.43291+00       NaN     NaN         after
3  2020-11-19 05:09:22.500223+00       NaN     NaN         after
4  2020-11-02 14:45:20.355598+00       NaN     NaN         after

DataFrame 1 Data Types:
id                   int64
cash_request_id    float64
type                object
status              object
category            object
total_amount       float64
reason              object
created_at          object
updated_at          object
paid_at             object
from_date           object
to_date             object
charge_moment       object
dtype: object

In [10]:
df1.duplicated().sum()

np.int64(0)

In [11]:
df1.isna().sum()

id                     0
cash_request_id        4
type                   0
status                 0
category           18865
total_amount           0
reason                 0
created_at             0
updated_at             0
paid_at             5530
from_date          13295
to_date            13295
charge_moment          0
dtype: int64

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  object
 8   updated_at       21061 non-null  object
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB

In [16]:
# Getting the number of rows and columns
print("DataFrame 1 Shape:", df2.shape)

# Displaying the first few rows
print("\nDataFrame 1 Head:")
print(df2.head())

# Displaying data types of each column
print("\nDataFrame 1 Data Types:")
print(df2.dtypes)

DataFrame 1 Shape: (23970, 16)

DataFrame 1 Head:
     id  amount    status                     created_at  \
0     5   100.0  rejected  2019-12-10 19:05:21.596873+00
1    70   100.0  rejected   2019-12-10 19:50:12.34778+00
2     7   100.0  rejected   2019-12-10 19:13:35.82546+00
3    10    99.0  rejected  2019-12-10 19:16:10.880172+00
4  1594   100.0  rejected  2020-05-06 09:59:38.877376+00

                      updated_at  user_id                   moderated_at  \
0   2019-12-11 16:47:42.40783+00    804.0  2019-12-11 16:47:42.405646+00
1  2019-12-11 14:24:22.900054+00    231.0  2019-12-11 14:24:22.897988+00
2  2019-12-11 09:46:59.779773+00    191.0  2019-12-11 09:46:59.777728+00
3  2019-12-18 14:26:18.136163+00    761.0  2019-12-18 14:26:18.128407+00
4   2020-05-07 09:21:55.34008+00   7686.0  2020-05-07 09:21:55.320193+00

   deleted_account_id             reimbursement_date  \
0                 NaN  2020-01-09 19:05:21.596363+00
1                 NaN   2020-01-09 19:50:12.34778+00
2                 NaN  2020-01-09 19:13:35.825041+00
3                 NaN  2020-01-09 19:16:10.879606+00
4                 NaN         2020-06-05 22:00:00+00

  cash_request_received_date money_back_date transfer_type send_at  \
0                        NaN             NaN       regular     NaN
1                        NaN             NaN       regular     NaN
2                        NaN             NaN       regular     NaN
3                        NaN             NaN       regular     NaN
4                        NaN             NaN       regular     NaN

  recovery_status reco_creation reco_last_update
0             NaN           NaN              NaN
1             NaN           NaN              NaN
2             NaN           NaN              NaN
3             NaN           NaN              NaN
4             NaN           NaN              NaN

DataFrame 1 Data Types:
id                              int64
amount                        float64
status                         object
created_at                     object
updated_at                     object
user_id                       float64
moderated_at                   object
deleted_account_id            float64
reimbursement_date             object
cash_request_received_date     object
money_back_date                object
transfer_type                  object
send_at                        object
recovery_status                object
reco_creation                  object
reco_last_update               object
dtype: object

In [17]:
df2.duplicated().sum()

np.int64(0)

In [18]:
df2.isna().sum()

id                                0
amount                            0
status                            0
created_at                        0
updated_at                        0
user_id                        2103
moderated_at                   7935
deleted_account_id            21866
reimbursement_date                0
cash_request_received_date     7681
money_back_date                7427
transfer_type                     0
send_at                        7329
recovery_status               20640
reco_creation                 20640
reco_last_update              20640
dtype: int64

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB