In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import dash
from dash import dcc, html, Input, Output
import plotly.express as px
import seaborn as sns

In [14]:
df1 = pd.read_csv('../project_dataset/extract_fees_data_analyst.csv')

# Load the second CSV file
df2 = pd.read_csv('../project_dataset/extract_cash request_data analyst.csv')

In [4]:
df_ml = pd.merge(df1, df2, left_on='cash_request_id', right_on='id', how='left')

In [15]:
nan_cash_request_df = df_ml[df_ml['cash_request_id'].isnull()]
df_ml_clean = df_ml.dropna(subset=['cash_request_id'])

In [6]:
df_ml_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21057 entries, 0 to 21060
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_x                        21057 non-null  int64
 1   cash_request_id             21057 non-null  float64
 2   type                        21057 non-null  object
 3   status_x                    21057 non-null  object
 4   category                    2196 non-null   object
 5   total_amount                21057 non-null  float64
 6   reason                      21057 non-null  object
 7   created_at_x                21057 non-null  object
 8   updated_at_x                21057 non-null  object
 9   paid_at                     15531 non-null  object
 10  from_date                   7766 non-null   object
 11  to_date                     7766 non-null   object
 12  charge_moment               21057 non-null  object
 13  id_y                        21057 non-null  float64
 14  amount                      21057 non-null  float64
 15  status_y                    21057 non-null  object
 16  created_at_y                21057 non-null  object
 17  updated_at_y                21057 non-null  object
 18  user_id                     20151 non-null  float64
 19  moderated_at                11284 non-null  object
 20  deleted_account_id          906 non-null    float64
 21  reimbursement_date          21057 non-null  object
 22  cash_request_received_date  19763 non-null  object
 23  money_back_date             19701 non-null  object
 24  transfer_type               21057 non-null  object
 25  send_at                     17570 non-null  object
 26  recovery_status             6894 non-null   object
 27  reco_creation               6894 non-null   object
 28  reco_last_update            6894 non-null   object
dtypes: float64(6), int64(1), object(22)
memory usage: 4.8+ MB

In [16]:
df_ml_clean.isna().sum()

id_x                              0
cash_request_id                   0
type                              0
status_x                          0
category                      18861
total_amount                      0
reason                            0
created_at_x                      0
updated_at_x                      0
paid_at                        5526
from_date                     13291
to_date                       13291
charge_moment                     0
id_y                              0
amount                            0
status_y                          0
created_at_y                      0
updated_at_y                      0
user_id                         906
moderated_at                   9773
deleted_account_id            20151
reimbursement_date                0
cash_request_received_date     1294
money_back_date                1356
transfer_type                     0
send_at                        3487
recovery_status               14163
reco_creation                 14163
reco_last_update              14163
dtype: int64

In [ ]:
missing_user_id_rows = df_ml[df_ml['user_id'].isnull()]
print(missing_user_id_rows.head())

      id_x  cash_request_id             type   status_x  \
4    11242          19350.0  instant_payment   accepted
75   16959          23989.0  instant_payment   accepted
106  14190          14924.0         incident   accepted
129  21176          15272.0         postpone  cancelled
133  11202          19372.0  instant_payment   accepted

                  category  total_amount                              reason  \
4                      NaN           5.0  Instant Payment Cash Request 19350
75                     NaN           5.0  Instant Payment Cash Request 23989
106  rejected_direct_debit           5.0               rejected direct debit
129                    NaN           5.0         Postpone Cash Request 15272
133                    NaN           5.0  Instant Payment Cash Request 19372

                      created_at_x                   updated_at_x  \
4    2020-10-06 08:20:17.170432+00  2020-10-13 14:25:03.267983+00
75   2020-10-24 10:22:47.111527+00  2020-10-24 10:22:47.111551+00
106  2020-10-16 23:48:55.379796+00  2020-10-16 23:48:55.379818+00
129  2020-11-01 23:01:27.934752+00  2020-11-01 23:01:27.934782+00
133  2020-10-06 06:34:48.209743+00  2020-10-13 14:25:10.240365+00

                           paid_at  ...                   moderated_at  \
4    2020-11-02 14:45:20.355598+00  ...  2020-10-06 08:20:15.587318+00
75   2020-11-16 02:57:54.271425+00  ...                            NaN
106  2020-11-07 05:10:51.711016+00  ...  2020-09-07 09:21:59.079802+00
129                            NaN  ...         2020-09-09 10:02:13+00
133  2020-11-03 05:10:00.146645+00  ...                            NaN

    deleted_account_id             reimbursement_date  \
4              19005.0         2020-10-30 11:00:00+00
75             29610.0  2020-11-03 10:22:40.194197+00
106            23059.0         2020-10-05 22:00:00+00
129            26653.0         2020-11-30 23:00:00+00
133            23893.0         2020-10-26 22:00:00+00

     cash_request_received_date                money_back_date transfer_type  \
4                    2020-10-09  2020-11-02 14:45:20.315696+00       instant
75                          NaN  2020-11-16 02:57:54.235926+00       instant
106                  2020-09-08         2020-11-05 23:00:00+00       instant
129                  2020-09-11         2020-12-02 23:00:00+00       instant
133                         NaN         2020-11-01 23:00:00+00       instant

                           send_at recovery_status  \
4    2020-10-13 00:40:23.983346+00       completed
75   2020-10-24 10:22:40.194197+00       completed
106  2020-09-14 09:19:12.982718+00       completed
129         2020-09-16 08:34:36+00             NaN
133  2020-10-13 06:34:12.617702+00             NaN

                     reco_creation               reco_last_update
4    2020-10-24 22:43:13.278707+00  2020-11-02 14:45:20.333109+00
75    2020-11-13 22:40:42.99552+00  2020-11-16 02:57:54.252045+00
106  2020-10-16 23:48:55.375844+00  2020-10-16 23:48:59.124042+00
129                            NaN                            NaN
133                            NaN                            NaN

[5 rows x 29 columns]

In [8]:
df_ml_clean['created_at_x'].head(1)

0    2020-09-07 10:47:27.42315+00
Name: created_at_x, dtype: object

In [9]:
df_ml_clean['created_at_x'].dtype

dtype('O')

In [10]:
import pandas as pd

# Ensure 'created_at_x' is in datetime format
df_ml_clean['created_at_x'] = pd.to_datetime(df_ml_clean['created_at_x'])

# Create new column 'Cohort_by_month' containing only the month
# You can format the date to show year and month if that is what's required
df_ml_clean['Cohort_by_month'] = df_ml_clean['created_at_x'].dt.to_period('M')

# Print the number of rows in the new column
print(f"Number of rows: {df_ml_clean.shape[0]}")

# Display the first 5 lines of the new column
print(df_ml_clean[['Cohort_by_month']].head())

Number of rows: 21057
  Cohort_by_month
0         2020-09
1         2020-09
2         2020-10
3         2020-10
4         2020-10

/var/folders/r6/ycxt4t395sz7rs26t5w0vjgc0000gn/T/ipykernel_19572/1419371860.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_clean['created_at_x'] = pd.to_datetime(df_ml_clean['created_at_x'])
/var/folders/r6/ycxt4t395sz7rs26t5w0vjgc0000gn/T/ipykernel_19572/1419371860.py:8: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_ml_clean['Cohort_by_month'] = df_ml_clean['created_at_x'].dt.to_period('M')
/var/folders/r6/ycxt4t395sz7rs26t5w0vjgc0000gn/T/ipykernel_19572/1419371860.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ml_clean['Cohort_by_month'] = df_ml_clean['created_at_x'].dt.to_period('M')

In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming df_clean is your main DataFrame and has columns like 'frequency', 'revenue', and 'incident_rate'

# Sample data for demonstration
# df_clean = pd.DataFrame({
#     'frequency': [/* data */],
#     'revenue': [/* data */],
#     'incident_rate': [/* data */],
#     # Add more relevant columns if needed
# })

# Calculate the correlation matrix
correlation_matrix = df_clean[['frequency', 'revenue', 'incident_rate']].corr()

# Print the correlation matrix
print(correlation_matrix)

NameError: name 'df_clean' is not defined